@media screen and (max-width:480px){
  .row{
    flex-direction: column;
  }

  .lessons .col {
    width: 100%;
  }

  .lessons .col:not(:last-child){
    margin-bottom: 3rem;
  }

  .steps {
    margin: 3rem 0 0 0;
  }

  .steps .col {
    width: 100%;
  }

  .steps .col:not(:last-child){
    margin-bottom: 3rem;
  }

  .why-us{
    background: #222222;
    padding: 3rem 0;
    margin: 0;
  }

  .why-us .col-left,
  .why-us .col-right {
    width: 100%;
  }

  .why-us .col-left{
    margin-bottom: 3rem;
  }
}